body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#indexBack{
 background-image: url('http://ladedaentertainment.com/images/backgrounds/concert-crowd.jpg');
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}
#welcomeTitle{
color: white;
}
#welcomeLesson {
  max-width: 50%;
  margin: auto;
  background: white;
}

#welcomeBody {
  margin: auto;
  text-align: center;
  background: white;
}

#finalThoughts{
  max-width: 50%;
  margin: auto;
  background: white;
}

#signIn{
  background: white;
}
#songShow{
  max-width: 65%;
  margin: auto;
background: white;
}
#songShow{
  margin: auto;
  text-align: center;
}
#songList{
background: white;
text-align: center;
}
#searchSong{
  text-align: center;
  width: 300px;

}
#searchBar{
  text-align: center;
}
#signIn{
  padding-right: 10px;
}
#profileShow{
background: white;
}
#profileShowText{
  text-align: center;
}
#songEdit{
background: white;
text-align: center;
}
#songNew{
  text-align: center;
  background: white;
}
#lyricText{
  height: 300px;
  width: 300px;
}
#songNewAlign{
text-align: center;
}
#home{
  down: 10%;
  text-align: center;
}
.sign-in-form{
  text-align: center;

}
.sign-up-form{
  text-align: center;
}
#signInText{
  width: 200px;
  text-align: center;
}
