body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: ;
}

#indexBack{
  background: black;
}

a {
  color: #00B7FF;
}
#welcomeTitle{
color: white;
}
#welcomeLesson {
  max-width: 50%;
  margin: auto;
  background: white;
}

#welcomeBody {
  margin: auto;
  text-align: center;
  background: white;
}

#finalThoughts{
  max-width: 50%;
  margin: auto;
  background: white;
}

#signIn{
  background: white;
}
#songShow{
  max-width: 65%;
  margin: auto;
background: white;
}
#songShow{
  margin: auto;
  text-align: center;
}
#songList{
background: white;
text-align: center;
}
#searchSong{
  text-align: center;
  width: 300px;

}
#searchBar{
  text-align: center;
}
#profileShow{
background: white;
}
#songEdit{
background: white;
}
#songNew{
  text-align: center;
  background: white;
}
#lyricText{
  height: 300px;
  width: 300px;
}
#songNewAlign{
text-align: center;
}
#home{
background-image: url('http://ladedaentertainment.com/images/backgrounds/concert-crowd.jpg');
}
