<div ng-controller="SongListController as vm">
  <label>Search</label>
  <input type="search" class="form-control" ng-model="vm.search" placeholder="Artist or Song Name">
  <div ng-repeat="song in songListVm.songs | filter:vm.search">
    <p>Title: {{song.title}}</p>
    <a ui-sref="songShow({id: song._id})">See This Song</a>
    <a ng-show="songListVm.authService.isLoggedIn()" ng-click="songListVm.destroy(song)">Delete Song</a>
    <button ng-show="songListVm.authService.isLoggedIn()" ng-click="songListVm.addSongtoUser(song)" type="button" class="btn"><i class="glyphicon glyphicon-plus"></i></button>
    <hr>
  </div>
</div>
