<div>
  <h3>New Song</h3>
  <form id='newSong' ng-submit="songNewVm.addSong()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="songNewVm.newSong.title">
    </div>
    <div>
      <label for="authors">Authors:</label>
      <input type="text" name="authors" ng-model="songNewVm.newSong.authors">
    </div>
    <div>
      <label for="chordsURL">Chords:</label>
      <input type="text" name="chordsURL" ng-model="songNewVm.newSong.chordsURL">
    </div>
    <div>
      <label for="lyrics">Lyrics:</label>
      <input type="text" name="lyrics" ng-model="songNewVm.newSong.lyrics">
    </div>
    <div>
      <label for="instrument">Instrument:</label>
      <input type="text" name="instrument" ng-model="songNewVm.newSong.instrument">
    </div>

    <input type="submit" value="Add">
  </form>
</div>
